huggingface_hub>=0.11
python-dotenv
streamlit==1.10.0
datasets
evaluate
jsonlines
typer
# Dataset specific deps
py7zr<0.19
openpyxl<3.1
# Dirty bug from Google
protobuf<=3.20.1
# Bug from Streamlit
altair<5